<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSpectrum by Malte Linke</title>
    <link rel="stylesheet" href="/stylesheets/visualizer.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script type="text/javascript" src="/javascripts/visualizer.js" defer></script>
</head>
<body>
  <input type="range" min="1" max="50" value="8" class="slider" id="red-slider">
    <canvas></canvas>
</body>
</html>